<div class="main flex flex-col justify-center items-center">
  <div id="about_pic">
    <%= image_tag "ZannainShafi.jpg", class: "about_pic rounded-lg shadow-md" %> 
  </div>
  <div class="about"> 
    <h1 class="about_name">Zannain Shafi</h1>
  </div>
  <h3 class="about_title">Full Stack Developer</h3> 
  <div class="social">
    <%= link_to "http://www.github.com/zannain", :class => 'social_links', :id => 'github', :target => 'blank' do %> 
    <% fa_icon "github 2x" %> 
    <% end %>
    <%= link_to "https://twitter.com/zannains", :class => 'social_links',:id => 'twitter', :target => 'blank' do %>
    <% fa_icon "twitter 2x" %>
    <% end %>
    <%= link_to "http://www.linkedin.com/in/zannainshafi", :class => 'social_links', :id => 'linkedin', :target => 'blank' do %>
    <%= fa_icon "linkedin 2x" %>
    <% end %>
  </div>
</div>