.nav 
	= link_to "Github", "http://www.github.com/zannain", :class => 'portfolio-links', :id => 'portfolio-links-github', :target => '_blank'
	= link_to "LinkedIn", "http://www.linkedin.com/in/zannainshafi", :class => 'portfolio-links', :id => 'portfolio-links-linkedin', :target => '_blank'
	= link_to "Resume", "resume.pdf", :class => 'portfolio-links', :id => 'portfolio-links-resume', :target => '_blank'
	= link_to "Blog", blogs_path, :class => 'portfolio-links'
	= link_to "Twitter", "https://twitter.com/zannains", :id => 'social-twitter', :class => 'portfolio-links', :target => '_blank'