.nav 
	= link_to "Github", "http://www.github.com/zannain", :class => 'portfolio-links', :id => 'portfolio-links-github'
	= link_to "LinkedIn", "http://www.linked.com/in/zannainshafi", :class => 'portfolio-links', :id => 'portfolio-links-linkedin'
	= link_to "Resume", "resume.pdf", :class => 'portfolio-links', :id => 'portfolio-links-resume'
	= link_to "Blog", "#", :class => 'portfolio-links'
	= link_to "Twitter", "https://twitter.com/zannains", :id => 'social-twitter', :class => 'portfolio-links'