%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portfolio
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://use.typekit.net/ezr0jxr.js"}
    :javascript 
      try{Typekit.load({ async: true });}catch(e){}

  %body
    = render :partial => 'layouts/nav'
    = yield